/**
 * Shadow Mixin
 * Add shadow on @include element
 */

@mixin card-shadow {
  box-shadow: -1px -1px 21px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px -1px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -1px 21px 0px rgba(0,0,0,0.75);
}
@mixin gradient-green {
  background: linear-gradient(to right, rgb(82, 194, 52), rgb(6, 23, 0));
}

main {
  min-width: 100vw;
  min-height: 100vh;
  background: url('/assets/images/bg/loginbg.jpg');
  background-position: center;
  background-size: cover;

  #login-page-card-wrapper {
    width: 340px;
    background: rgba(255,255,255,0.97);
    overflow: hidden;
    border-radius: 15px;
    @include card-shadow;

    .card-header {

      .logo-img {
        width: 200px;
      }
    }
    .card-main {

      .form-field {

        .field-icon {
          width: 30px;
          height: 30px;

          img {
            width: 100%;
            height: 100%;
          }
        }
        input {
          width: 100%;
          height: 50px;
          line-height: 40px;
          font-size: 20px;
          border: none;
          padding-left: 40px;
          border-bottom: 2px solid green ;
        }
        button {
          @include gradient-green;
          height: 40px;
          line-height: 40px;
          width: 240px;
          color: rgba( 255,255,255,1 );
          font-size: 20px;
          border: none;
          border-radius: 20px;
          text-transform: uppercase;
        }
      }
      .error-wrapper {
        padding-left: 15px;
        color: crimson;
        height: 22px;
      }
    }
    .card-footer {

      .bottom-image {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
