<header></header>
<main class=" flex j-c a-c">
  <div id="login-page-card-wrapper" class="mt-40 mb-50">
    <div class="card-header flex j-c a-c">
      <img src="/assets/images/logo.png" class="logo-img mt-30" alt="logo">
    </div>
    <div class="card-main">
      <div class="p-20">
        <form (ngSubmit)="submit(form)" #form="ngForm">

          <!-- user-name -->
          <div class="form-field user-name-wrapper flex f-w j-s a-c p-r p-15">
            <div class="field-icon p-a">
              <img src="/assets/images/icons/users.svg" alt="user" >
            </div>
            <input [(ngModel)]="formData.login" placeholder="User Name" type="text" name="user-name" required>
          </div>
          <!-- user-name-validation -->
          <div class="error-wrapper">
              <div *ngIf="formData.login.length == 0 && form.submitted" [@enterAnimation] class="error">Error in Field Login!</div>
          </div>

          <!-- password -->
          <div class="form-field password-wrapper flex f-w j-s a-c p-r p-15">
            <div class="field-icon p-a">
              <img src="/assets/images/icons/lock.svg" alt="user" >
            </div>
            <input [(ngModel)]="formData.password" placeholder="Password" type="password" name="user-password" required>
          </div>
          <!-- password-validation -->
          <div class="error-wrapper">
              <div *ngIf="formData.password.length == 0 && form.submitted" [@enterAnimation] class="error">Error in Field Password!</div>
          </div>

          <!-- submit -->
          <div class="form-field submit-button-wrapper flex j-c mt-40">
            <button type="submit"> Login! </button>
          </div>
        </form>

        <!-- registrate -->
        <div class="registrate-wrapper t-c mt-30">
          Dont have account? <a href="/registrate">registrate</a>
        </div>

        <!-- login as -->
        <div class="login-as t-c mt-30">
          Login As

          <div class="login-as-container flex j-s-a a-c mt-20 mb-40 ">
            <img src="/assets/images/icons/google.svg" width="40" height="40" alt="google">
          </div>

        </div>

      </div>
    </div>
    <div class="card-footer p-r">
    </div>
  </div>
</main>
<footer></footer>
