@import 'assets/styles/i.css';
@import 'assets/styles/i-mixins.scss';

body {
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
input {
  background: rgba(0,0,0,0);
}
input, button {
  font-family: 'Noto Sans', sans-serif;
  outline: none;
}

/* --- buttons --- */
.btn {
  border: 2px solid black;
  background:  rgb(65, 65, 65);
  font-weight: bold;
  transition: 0.3s;
  color: white;
  padding: 8px;
  cursor: pointer;
  @include btn-shadow;
}
.btn:hover {
  background: black;
  @include btn-shadow-hover;
}
.btn:active {
  transform: scale(0.90);
}
